<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div class="container information">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1 class="title">Data Driven</h1>
			<h4 class="subtitle">The data from several stocks and indices was used for the purpose of generating this visualizer.  Below, a breakdown of stock trade volume, trade value, relative volume, and relative value are listed.  This data provides for accurate calculations of counters, pings, and delays.<br><br>*Both indices of NASDAQ and NYSE are burst and delay capped at 5, otherwise they would dominate the graphic.</h4>
			<table class="table table-hover">
				<thead>
					<th>Name</th>
					<th>Volume</th>
					<th>Value</th>
					<th>Relative Volume ~ Burst Amount</th>
					<th>Relative Value ~ Repeat Delay</th>
				</thead>
				<tr>
					<td>US Equity</td>
					<td>32369.68</td>
					<td>1065509.26</td>
					<td>x</td>
					<td>x</td>
				</tr>
				<tr>
					<td>NASDAQ</td>
					<td>20398.03</td>
					<td>653240.74</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>AAPL</td>
					<td>751.74</td>
					<td>66837.36</td>
					<td>3.7</td>
					<td>2.9</td>
				</tr>
				<tr>
					<td>CMCSA</td>
					<td>144.56</td>
					<td>14357.62</td>
					<td>0.7</td>
					<td>13.6</td>
				</tr>
				<tr>
					<td>FB</td>
					<td>384.14</td>
					<td>29350.49</td>
					<td>1.9</td>
					<td>6.7</td>
				</tr>
				<tr>
					<td>NFLX</td>
					<td>21.06</td>
					<td>11034.65</td>
					<td>0.1</td>
					<td>17.8</td>
				</tr>
				<tr>
					<td>TSLA</td>
					<td>70.02</td>
					<td>15162.39</td>
					<td>0.3</td>
					<td>12.9</td>
				</tr>
				<tr>
					<td>NYSE</td>
					<td>11971.64</td>
					<td>412268.52</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>BABA</td>
					<td>527.43</td>
					<td>10467.46</td>
					<td>2.6</td>
					<td>18.7</td>
				</tr>
				<tr>
					<td>BAC</td>
					<td>971.06</td>
					<td>19971.55</td>
					<td>4.8</td>
					<td>9.8</td>
				</tr>
				<tr>
					<td>KO</td>
					<td>175.46</td>
					<td>13434.39</td>
					<td>0.9</td>
					<td>14.6</td>
				</tr>
				<tr>
					<td>DAL</td>
					<td>134.26</td>
					<td>10163.04</td>
					<td>0.7</td>
					<td>19.3</td>
				</tr>
				<tr>
					<td>TWTR</td>
					<td>302.2</td>
					<td>19888.85</td>
					<td>1.5</td>
					<td>9.9</td>
				</tr>
			</table>
	
		</div>
	</div>
</div>

<style>
	.table-hover>tbody>tr:hover {
		background-color: rgba(255,255,255,0.1);
	}

	h1.title {
		font-family: "Open Sans", sans-serif;
		font-weight: bold;
	}
	h4.subtitle {
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		line-height: 30px;
		margin-top: 20px;
		margin-bottom: 60px;
	}

</style>