<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div id="index">
        <div id="us-equity">
          <h1>TOTAL U.S. EQUITY</h1>
          <div class="data">
            <p>V<span id="us-vol" class="vol"></span></p>
            <p>$<span id="us-val" class="amt"></span></p>
          </div>
        </div>
        <div id="nasdaq" class="info-box">
          <h1>NASDAQ</h1>
          <div class="data">
            <p>V<span id="nasdaq-vol" class="vol nasdaq-vol"></span></p>
            <p>$<span id="nasdaq-val" class="amt"></span></p>
          </div>
        </div>

        <div id="apple" class="info-box">
          <h1>AAPL<span>NASDAQ</span></h1>
          <div class="data">
            <p>V<span id="aapl-vol" class="vol aapl-vol"></span></p>
            <p>$<span id="aapl-val" class="amt"></span></p>
          </div>
        </div>

        <div id="comcast" class="info-box">
          <h1>CMCSA<span>NASDAQ</span></h1>
          <div class="data">
            <p>V<span id="cmcsa-vol" class="vol cmcsa-vol"></span></p>
            <p>$<span id="cmcsa-val" class="amt"></span></p>
          </div>
        </div>

        <div id="facebook" class="info-box">
          <h1>FB<span>NASDAQ</span></h1>
          <div class="data">
            <p>V<span id="fb-vol" class="vol fb-vol"></span></p>
            <p>$<span id="fb-val" class="amt"></span></p>
          </div>
        </div>

        <div id="netflix" class="info-box">
          <h1>NFLX<span>NASDAQ</span></h1>
          <div class="data">
            <p>V<span id="nflx-vol" class="vol nflx-vol"></span></p>
            <p>$<span id="nflx-val" class="amt"></span></p>
          </div>
        </div>

        <div id="tesla" class="info-box">
          <h1>TSLA<span>NASDAQ</span></h1>
          <div class="data">
            <p>V<span id="tsla-vol" class="vol tsla-vol"></span></p>
            <p>$<span id="tsla-val" class="amt"></span></p>
          </div>
        </div>

        <div id="nyse" class="info-box">
          <h1>NYSE</h1>
          <div class="data">
            <p>V<span id="nyse-vol" class="vol nyse-vol"></span></p>
            <p>$<span id="nyse-val" class="amt"></span></p>
          </div>
        </div>

        <div id="alibaba" class="info-box">
          <h1>BABA<span>NYSE</span></h1>
          <div class="data">
            <p>V<span id="baba-vol" class="vol baba-vol"></span></p>
            <p>$<span id="baba-val" class="amt"></span></p>
          </div>
        </div>

        <div id="boa" class="info-box">
          <h1>BAC<span>NYSE</span></h1>
          <div class="data">
            <p>V<span id="bac-vol" class="vol bac-vol"></span></p>
            <p>$<span id="bac-val" class="amt"></span></p>
          </div>
        </div>

        <div id="ko" class="info-box">
          <h1>KO<span>NYSE</span></h1>
          <div class="data">
            <p>V<span id="ko-vol" class="vol ko-vol"></span></p>
            <p>$<span id="ko-val" class="amt"></span></p>
          </div>
        </div>

        <div id="delta" class="info-box">
          <h1>DAL<span>NYSE</span></h1>
          <div class="data">
            <p>V<span id="dal-vol" class="vol dal-vol"></span></p>
            <p>$<span id="dal-val" class="amt"></span></p>
          </div>
        </div>

        <div id="twitter" class="info-box">
          <h1>TWTR<span>NYSE</span></h1>
          <div class="data">
            <p>V<span id="twtr-vol" class="vol twtr-vol"></span></p>
            <p>$<span id="twtr-val" class="amt"></span></p>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>

<script>

var usvol = 0;

counter('us-vol', 'us-val', 0, 0, 32369.68, 1065509.26);
counter('nasdaq-vol', 'nasdaq-val', 0, 0, 20398.03, 653240.74);
counter('aapl-vol', 'aapl-val', 0, 0, 751.74, 66837.36);
counter('cmcsa-vol', 'cmcsa-val', 0, 0, 144.56, 14357.62);
counter('fb-vol', 'fb-val', 0, 0, 384.14, 29350.49);
counter('nflx-vol', 'nflx-val', 0, 0, 21.06, 11034.65);
counter('tsla-vol', 'tsla-val', 0, 0, 70.02, 15162.39);
counter('nyse-vol', 'nyse-val', 0, 0, 11971.64, 412268.52);
counter('baba-vol', 'baba-val', 0, 0, 527.43, 10467.46);
counter('bac-vol', 'bac-val', 0, 0, 971.06, 19971.55);
counter('ko-vol', 'ko-val', 0, 0, 175.46, 13434.39);
counter('dal-vol', 'dal-val', 0, 0, 134.26, 10163.04);
counter('twtr-vol', 'twtr-val', 0, 0, 302.20, 19888.85);

function counter(volid, valid, vol, val, volps, valps) {
  if (vol > 300000){
    return;
  } else {
    setTimeout(function() {
      vol += volps;
      val += valps;
      document.getElementById(volid).innerHTML = vol.toFixed(2);
      document.getElementById(valid).innerHTML = val.toFixed(2);
      counter(volid, valid, vol, val, volps, valps);
    }, 1000);
  }
}

// Node 1: NASDAQ
var points1 = [
  [450, 100],
  [600, 200]  
];
var points2 = [
  [450, 100],
  [750, 300]
];
var points3 = [
  [450, 100],
  [785, 400]
];
var points4 = [
  [450, 100],
  [750, 500]
];
var points5 = [
  [450, 100],
  [600, 600]
];
var points6 = [
  [450, 100],
  [450, 700]
];
var points7 = [
  [450, 100],
  [300, 600]
];
var points8 = [
  [450, 100],
  [150, 500]
];
var points9 = [
  [450, 100],
  [115, 400]
];
var points10 = [
  [450, 100],
  [150, 300]
];
var points11 = [
  [450, 100],
  [300, 200]
];

// Node 1: NASDAQ
var points2_1 = [
  [600, 200],
  [450, 100]  
];
var points2_2 = [
  [600, 200],
  [750, 300]
];
var points2_3 = [
  [600, 200],
  [785, 400]
];
var points2_4 = [
  [600, 200],
  [750, 500]
];
var points2_5 = [
  [600, 200],
  [600, 600]
];
var points2_6 = [
  [600, 200],
  [450, 700]
];
var points2_7 = [
  [600, 200],
  [300, 600]
];
var points2_8 = [
  [600, 200],
  [150, 500]
];
var points2_9 = [
  [600, 200],
  [115, 400]
];
var points2_10 = [
  [600, 200],
  [150, 300]
];
var points2_11 = [
  [600, 200],
  [300, 200]
];

// Node 3: CMCSA
var points3_1 = [
  [750, 300],
  [450, 100]  
];
var points3_2 = [
  [750, 300],
  [600, 200]
];
var points3_3 = [
  [750, 300],
  [785, 400]
];
var points3_4 = [
  [750, 300],
  [750, 500]
];
var points3_5 = [
  [750, 300],
  [600, 600]
];
var points3_6 = [
  [750, 300],
  [450, 700]
];
var points3_7 = [
  [750, 300],
  [300, 600]
];
var points3_8 = [
  [750, 300],
  [150, 500]
];
var points3_9 = [
  [750, 300],
  [115, 400]
];
var points3_10 = [
  [750, 300],
  [150, 300]
];
var points3_11 = [
  [750, 300],
  [300, 200]
];

// Node 4: FB
var points4_1 = [
  [785, 400],
  [450, 100]  
];
var points4_2 = [
  [785, 400],
  [600, 200]
];
var points4_3 = [
  [785, 400],
  [750, 300]
];
var points4_4 = [
  [785, 400],
  [750, 500]
];
var points4_5 = [
  [785, 400],
  [600, 600]
];
var points4_6 = [
  [785, 400],
  [450, 700]
];
var points4_7 = [
  [785, 400],
  [300, 600]
];
var points4_8 = [
  [785, 400],
  [150, 500]
];
var points4_9 = [
  [785, 400],
  [115, 400]
];
var points4_10 = [
  [785, 400],
  [150, 300]
];
var points4_11 = [
  [785, 400],
  [300, 200]
];

// Node 5: NFLX
var points5_1 = [
  [750, 500],
  [450, 100]  
];
var points5_2 = [
  [750, 500],
  [600, 200]
];
var points5_3 = [
  [750, 500],
  [750, 300]
];
var points5_4 = [
  [750, 500],
  [785, 400]
];
var points5_5 = [
  [750, 500],
  [600, 600]
];
var points5_6 = [
  [750, 500],
  [450, 700]
];
var points5_7 = [
  [750, 500],
  [300, 600]
];
var points5_8 = [
  [750, 500],
  [150, 500]
];
var points5_9 = [
  [750, 500],
  [115, 400]
];
var points5_10 = [
  [750, 500],
  [150, 300]
];
var points5_11 = [
  [750, 500],
  [300, 200]
];

// Node 6: TSLA
var points6_1 = [
  [600, 600],
  [450, 100]  
];
var points6_2 = [
  [600, 600],
  [600, 200]
];
var points6_3 = [
  [600, 600],
  [750, 300]
];
var points6_4 = [
  [600, 600],
  [785, 400]
];
var points6_5 = [
  [600, 600],
  [750, 500]
];
var points6_6 = [
  [600, 600],
  [450, 700]
];
var points6_7 = [
  [600, 600],
  [300, 600]
];
var points6_8 = [
  [600, 600],
  [150, 500]
];
var points6_9 = [
  [600, 600],
  [115, 400]
];
var points6_10 = [
  [600, 600],
  [150, 300]
];
var points6_11 = [
  [600, 600],
  [300, 200]
];

// Node 7: NYSE
var points7_1 = [
  [450, 700],
  [450, 100]  
];
var points7_2 = [
  [450, 700],
  [600, 200]
];
var points7_3 = [
  [450, 700],
  [750, 300]
];
var points7_4 = [
  [450, 700],
  [785, 400]
];
var points7_5 = [
  [450, 700],
  [750, 500]
];
var points7_6 = [
  [450, 700],
  [600, 600]
];
var points7_7 = [
  [450, 700],
  [300, 600]
];
var points7_8 = [
  [450, 700],
  [150, 500]
];
var points7_9 = [
  [450, 700],
  [115, 400]
];
var points7_10 = [
  [450, 700],
  [150, 300]
];
var points7_11 = [
  [450, 700],
  [300, 200]
];

// Node 8: BABA
var points8_1 = [
  [300, 600],
  [450, 100]  
];
var points8_2 = [
  [300, 600],
  [600, 200]
];
var points8_3 = [
  [300, 600],
  [750, 300]
];
var points8_4 = [
  [300, 600],
  [785, 400]
];
var points8_5 = [
  [300, 600],
  [750, 500]
];
var points8_6 = [
  [300, 600],
  [600, 600]
];
var points8_7 = [
  [300, 600],
  [450, 700]
];
var points8_8 = [
  [300, 600],
  [150, 500]
];
var points8_9 = [
  [300, 600],
  [115, 400]
];
var points8_10 = [
  [300, 600],
  [150, 300]
];
var points8_11 = [
  [300, 600],
  [300, 200]
];

// Node 9:  BAC
var points9_1 = [
  [150, 500],
  [450, 100]  
];
var points9_2 = [
  [150, 500],
  [600, 200]
];
var points9_3 = [
  [150, 500],
  [750, 300]
];
var points9_4 = [
  [150, 500],
  [785, 400]
];
var points9_5 = [
  [150, 500],
  [750, 500]
];
var points9_6 = [
  [150, 500],
  [600, 600]
];
var points9_7 = [
  [150, 500],
  [450, 700]
];
var points9_8 = [
  [150, 500],
  [300, 600]
];
var points9_9 = [
  [150, 500],
  [115, 400]
];
var points9_10 = [
  [150, 500],
  [150, 300]
];
var points9_11 = [
  [150, 500],
  [300, 200]
];

// Node 10:  KO
var points10_1 = [
  [115, 400],
  [450, 100]  
];
var points10_2 = [
  [115, 400],
  [600, 200]
];
var points10_3 = [
  [115, 400],
  [750, 300]
];
var points10_4 = [
  [115, 400],
  [785, 400]
];
var points10_5 = [
  [115, 400],
  [750, 500]
];
var points10_6 = [
  [115, 400],
  [600, 600]
];
var points10_7 = [
  [115, 400],
  [450, 700]
];
var points10_8 = [
  [115, 400],
  [300, 600]
];
var points10_9 = [
  [115, 400],
  [150, 500]
];
var points10_10 = [
  [115, 400],
  [150, 300]
];
var points10_11 = [
  [115, 400],
  [300, 200]
];

// Node 11:  DAL
var points11_1 = [
  [150, 300],
  [450, 100]  
];
var points11_2 = [
  [150, 300],
  [600, 200]
];
var points11_3 = [
  [150, 300],
  [750, 300]
];
var points11_4 = [
  [150, 300],
  [785, 400]
];
var points11_5 = [
  [150, 300],
  [750, 500]
];
var points11_6 = [
  [150, 300],
  [600, 600]
];
var points11_7 = [
  [150, 300],
  [450, 700]
];
var points11_8 = [
  [150, 300],
  [300, 600]
];
var points11_9 = [
  [150, 300],
  [150, 500]
];
var points11_10 = [
  [150, 300],
  [115, 400]
];
var points11_11 = [
  [150, 300],
  [300, 200]
];

// Node 12:  TWTR
var points12_1 = [
  [300, 200],
  [450, 100]  
];
var points12_2 = [
  [300, 200],
  [600, 200]
];
var points12_3 = [
  [300, 200],
  [750, 300]
];
var points12_4 = [
  [300, 200],
  [785, 400]
];
var points12_5 = [
  [300, 200],
  [750, 500]
];
var points12_6 = [
  [300, 200],
  [600, 600]
];
var points12_7 = [
  [300, 200],
  [450, 700]
];
var points12_8 = [
  [300, 200],
  [300, 600]
];
var points12_9 = [
  [300, 200],
  [150, 500]
];
var points12_10 = [
  [300, 200],
  [115, 400]
];
var points12_11 = [
  [300, 200],
  [150, 300]
];


var svg = d3.select("#index").append("svg")
    .attr("width", 900)
    .attr("height", 1000);


// Sending node 1: NASDAQ 
setTimeout(function() { 
  world(points1, 1);
  world(points2, 1);
  world(points3, 1);
  world(points4, 1);
  world(points5, 1);
  world(points6, 1);
  world(points7, 1);
  world(points8, 1);
  world(points9, 1);
  world(points10, 1);
  world(points11, 1);
}, 500);

// Sending node 2: AAPL 
setTimeout(function() {
  world(points2_1, 2);
  world(points2_2, 2);
  world(points2_3, 2);
  world(points2_4, 2);
  world(points2_5, 2);
  world(points2_6, 2);
  world(points2_7, 2);
  world(points2_8, 2);
  world(points2_9, 2);
  world(points2_10, 2);
  world(points2_11, 2);
}, 1500);

// // Sending node 3:  CMCSA
setTimeout(function() {
  world(points3_1, 3);
  world(points3_2, 3);
  world(points3_3, 3);
  world(points3_4, 3);
  world(points3_5, 3);
  world(points3_6, 3);
  world(points3_7, 3);
  world(points3_8, 3);
  world(points3_9, 3);
  world(points3_10, 3);
  world(points3_11, 3);
}, 5500);

// Sending node 4: FB
setTimeout(function() {  
  world(points4_1, 4);
  world(points4_2, 4);
  world(points4_3, 4);
  world(points4_4, 4);
  world(points4_5, 4);
  world(points4_6, 4);
  world(points4_7, 4);
  world(points4_8, 4);
  world(points4_9, 4);
  world(points4_10, 4);
  world(points4_11, 4);
}, 4500);

// Sending node 5:  NFLX
setTimeout(function() {
  world(points5_1, 5);
  world(points5_2, 5);
  world(points5_3, 5);
  world(points5_4, 5);
  world(points5_5, 5);
  world(points5_6, 5);
  world(points5_7, 5);
  world(points5_8, 5);
  world(points5_9, 5);
  world(points5_10, 5);
  world(points5_11, 5);
}, 7500);

// Sending node 6:  TSLA
setTimeout(function() {
  world(points6_1, 6);
  world(points6_2, 6);
  world(points6_3, 6);
  world(points6_4, 6);
  world(points6_5, 6);
  world(points6_6, 6);
  world(points6_7, 6);
  world(points6_8, 6);
  world(points6_9, 6);
  world(points6_10, 6);
  world(points6_11, 6);
}, 6000);

// Sending node 7:  NYSE
setTimeout(function() {
  world(points7_1, 7);
  world(points7_2, 7);
  world(points7_3, 7);
  world(points7_4, 7);
  world(points7_5, 7);
  world(points7_6, 7);
  world(points7_7, 7);
  world(points7_8, 7);
  world(points7_9, 7);
  world(points7_10, 7);
  world(points7_11, 7);
}, 15000);

// Sending node 8:  BABA
setTimeout(function() {
  world(points8_1, 8);
  world(points8_2, 8);
  world(points8_3, 8);
  world(points8_4, 8);
  world(points8_5, 8);
  world(points8_6, 8);
  world(points8_7, 8);
  world(points8_8, 8);
  world(points8_9, 8);
  world(points8_10, 8);
  world(points8_11, 8);
}, 13000);

// Sending node 9:  BAC
setTimeout(function() {
  world(points9_1, 9);
  world(points9_2, 9);
  world(points9_3, 9);
  world(points9_4, 9);
  world(points9_5, 9);
  world(points9_6, 9);
  world(points9_7, 9);
  world(points9_8, 9);
  world(points9_9, 9);
  world(points9_10, 9);
  world(points9_11, 9);
}, 9000);

// Sending node 10:  KO
setTimeout(function() { 
  world(points10_1, 10);
  world(points10_2, 10);
  world(points10_3, 10);
  world(points10_4, 10);
  world(points10_5, 10);
  world(points10_6, 10);
  world(points10_7, 10);
  world(points10_8, 10);
  world(points10_9, 10);
  world(points10_10, 10);
  world(points10_11, 10);
}, 8000);

// Sending node 11:  DAL
setTimeout(function() {
  world(points11_1, 11);
  world(points11_2, 11);
  world(points11_3, 11);
  world(points11_4, 11);
  world(points11_5, 11);
  world(points11_6, 11);
  world(points11_7, 11);
  world(points11_8, 11);
  world(points11_9, 11);
  world(points11_10, 11);
  world(points11_11, 11);
}, 12000);
// Sending node 12:  TWTR
setTimeout(function() {
  world(points12_1, 12);
  world(points12_2, 12);
  world(points12_3, 12);
  world(points12_4, 12);
  world(points12_5, 12);
  world(points12_6, 12);
  world(points12_7, 12);
  world(points12_8, 12);
  world(points12_9, 12);
  world(points12_10, 12);
  world(points12_11, 12);
}, 10000);

// ...


// POINTS1///////////////////////////////////////
function world(points, nodenum) {

	var path = svg.append("path")
	    .data([points])
	    .attr("d", d3.svg.line()
	    .tension(0) // Catmull–Rom
	    .interpolate("cardinal-open"));

  var circle_class;
  if (nodenum == 1) {
    circle_class = 'nasdaq';
  } else if (nodenum == 2) {
    circle_class = 'aapl';
  } else if (nodenum == 3) {
    circle_class = 'cmcsa';
  } else if (nodenum == 4) {
    circle_class = 'fb';
  } else if (nodenum == 5) {
    circle_class = 'nflx';
  } else if (nodenum == 6) {
    circle_class = 'tsla';
  } else if (nodenum == 7) {
    circle_class = 'nyse';
  } else if (nodenum == 8) {
    circle_class = 'baba';
  } else if (nodenum == 9) {
    circle_class = 'bac';
  } else if (nodenum == 10) {
    circle_class = 'ko';
  } else if (nodenum == 11) {
    circle_class = 'dal';
  } else if (nodenum == 12) {
    circle_class = 'twtr';
  }



	svg.selectAll(".point")
	    .data(points)
	  .enter().append("circle")
	    .attr("r", 2)
	    .attr("transform", function(d) { return "translate(" + d + ")"; });
   

	var circle = svg.append("circle")
	    .attr("r", 3)
      .attr("class", circle_class)
	    .attr("transform", "translate(" + points[0] + ")");

	transition();

	function transition() {
		  circle.attr("opacity", '1');
		  circle.transition()
		      .duration(1000)
		      .ease("linear")
		      .attrTween("transform", translateAlong(path.node()))
		      .each("end", transition);
	}

	// Returns an attrTween for translating along the specified path element.
	function translateAlong(path) {
	  var l = path.getTotalLength();
	  return function(d, i, a) {
	    return function(t) {
	      var p = path.getPointAtLength(t * l);
	      return "translate(" + p.x + "," + p.y + ")";
	    };
	  };
	}
}

</script>