<div class="container">
	<h1> Stock Index Visualizer </h1>

	<div id="us-equity">
		<h1>TOTAL U.S. EQUITY</h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>
	<div id="nasdaq" class="info-box">
		<h1>NASDAQ</h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="apple" class="info-box">
		<h1>AAPL<span>NASDAQ</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="comcast" class="info-box">
		<h1>CMCSA<span>NASDAQ</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="facebook" class="info-box">
		<h1>FB<span>NASDAQ</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="netflix" class="info-box">
		<h1>NFLX<span>NASDAQ</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="tesla" class="info-box">
		<h1>TSLA<span>NASDAQ</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="nyse" class="info-box">
		<h1>NYSE</h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="alibaba" class="info-box">
		<h1>BABA<span>NYSE</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="boa" class="info-box">
		<h1>BAC<span>NYSE</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="ko" class="info-box">
		<h1>KO<span>NYSE</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="delta" class="info-box">
		<h1>DAL<span>NYSE</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="twitter" class="info-box">
		<h1>TWTR<span>NYSE</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

</div>