<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="index">

			</div>
		</div>
	</div>
</div>

<style>

path {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

circle {
  fill: steelblue;
  stroke: #fff;
  stroke-width: 3px;
}

</style>
<script>

var points1 = [
  [750, 400],
  [480, 100]  
];
var points2 = [
  [750, 400],
  [280, 400]
];
var points3 = [
  [750, 400],
  [280, 150]
];
var points4 = [
  [750, 400],
  [350, 150]
];
var points5 = [
  [750, 400],
  [350, 250]
];
var points6 = [
  [750, 400],
  [400, 350]
];
var points7 = [
  [750, 400],
  [420, 250]
];
var points8 = [
  [750, 400],
  [580, 150]
];
var points9 = [
  [750, 400],
  [380, 350]
];
var points10 = [
  [750, 400],
  [580, 350]
];
var points11 = [
  [750, 400],
  [740, 250]
];



var svg = d3.select("#index").append("svg")
    .attr("width", 960)
    .attr("height", 500);

world(points1, 1000);
world(points2, 1500);
world(points3, 2000);
world(points4, 900);
world(points5, 1900);
world(points6, 2100);
world(points7, 2200);
world(points8, 800);
world(points9, 1300);
world(points10, 3000);
world(points11, 2400);

// POINTS1///////////////////////////////////////
function world(points, timer) {

	var path = svg.append("path")
	    .data([points])
	    .attr("d", d3.svg.line()
	    .tension(0) // Catmull–Rom
	    .interpolate("cardinal-open"));

	svg.selectAll(".point")
	    .data(points)
	  .enter().append("circle")
	    .attr("r", 4)
	    .attr("transform", function(d) { return "translate(" + d + ")"; });

	var circle = svg.append("circle")
	    .attr("r", 13)
	    .attr("transform", "translate(" + points[0] + ")");

	transition();

	function transition() {
		setTimeout(function(){
		  circle.transition()
		      .duration(1000)
		      .ease("linear")
		      .attrTween("transform", translateAlong(path.node()))
		      .each("end", transition);
		}, timer);
	}

	// Returns an attrTween for translating along the specified path element.
	function translateAlong(path) {
	  var l = path.getTotalLength();
	  return function(d, i, a) {
	    return function(t) {
	      var p = path.getPointAtLength(t * l);
	      return "translate(" + p.x + "," + p.y + ")";
	    };
	  };
	}
}

</script>

<div class="container">
	<h1> Stock Index Visualizer </h1>

	<div id="us-equity">
		<h1>TOTAL U.S. EQUITY</h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>
	<div id="nasdaq" class="info-box">
		<h1>NASDAQ</h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="apple" class="info-box">
		<h1>AAPL<span>NASDAQ</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="comcast" class="info-box">
		<h1>CMCSA<span>NASDAQ</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="facebook" class="info-box">
		<h1>FB<span>NASDAQ</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="netflix" class="info-box">
		<h1>NFLX<span>NASDAQ</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="tesla" class="info-box">
		<h1>TSLA<span>NASDAQ</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="nyse" class="info-box">
		<h1>NYSE</h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="alibaba" class="info-box">
		<h1>BABA<span>NYSE</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="boa" class="info-box">
		<h1>BAC<span>NYSE</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="ko" class="info-box">
		<h1>KO<span>NYSE</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="delta" class="info-box">
		<h1>DAL<span>NYSE</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

	<div id="twitter" class="info-box">
		<h1>TWTR<span>NYSE</span></h1>
		<div class="data">
			<p>V<span class="vol">xxxxx.xx</span></p>
			<p>$<span class="amt">xxxxx.xx</span></p>
		</div>
	</div>

</div>