<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div id="index">
        <div id="us-equity">
          <h1>TOTAL U.S. EQUITY</h1>
          <div class="data">
            <p>V<span class="vol">xxxxx.xx</span></p>
            <p>$<span class="amt">xxxxx.xx</span></p>
          </div>
        </div>
        <div id="nasdaq" class="info-box">
          <h1>NASDAQ</h1>
          <div class="data">
            <p>V<span class="vol">xxxxx.xx</span></p>
            <p>$<span class="amt">xxxxx.xx</span></p>
          </div>
        </div>

        <div id="apple" class="info-box">
          <h1>AAPL<span>NASDAQ</span></h1>
          <div class="data">
            <p>V<span class="vol">xxxxx.xx</span></p>
            <p>$<span class="amt">xxxxx.xx</span></p>
          </div>
        </div>

        <div id="comcast" class="info-box">
          <h1>CMCSA<span>NASDAQ</span></h1>
          <div class="data">
            <p>V<span class="vol">xxxxx.xx</span></p>
            <p>$<span class="amt">xxxxx.xx</span></p>
          </div>
        </div>

        <div id="facebook" class="info-box">
          <h1>FB<span>NASDAQ</span></h1>
          <div class="data">
            <p>V<span class="vol">xxxxx.xx</span></p>
            <p>$<span class="amt">xxxxx.xx</span></p>
          </div>
        </div>

        <div id="netflix" class="info-box">
          <h1>NFLX<span>NASDAQ</span></h1>
          <div class="data">
            <p>V<span class="vol">xxxxx.xx</span></p>
            <p>$<span class="amt">xxxxx.xx</span></p>
          </div>
        </div>

        <div id="tesla" class="info-box">
          <h1>TSLA<span>NASDAQ</span></h1>
          <div class="data">
            <p>V<span class="vol">xxxxx.xx</span></p>
            <p>$<span class="amt">xxxxx.xx</span></p>
          </div>
        </div>

        <div id="nyse" class="info-box">
          <h1>NYSE</h1>
          <div class="data">
            <p>V<span class="vol">xxxxx.xx</span></p>
            <p>$<span class="amt">xxxxx.xx</span></p>
          </div>
        </div>

        <div id="alibaba" class="info-box">
          <h1>BABA<span>NYSE</span></h1>
          <div class="data">
            <p>V<span class="vol">xxxxx.xx</span></p>
            <p>$<span class="amt">xxxxx.xx</span></p>
          </div>
        </div>

        <div id="boa" class="info-box">
          <h1>BAC<span>NYSE</span></h1>
          <div class="data">
            <p>V<span class="vol">xxxxx.xx</span></p>
            <p>$<span class="amt">xxxxx.xx</span></p>
          </div>
        </div>

        <div id="ko" class="info-box">
          <h1>KO<span>NYSE</span></h1>
          <div class="data">
            <p>V<span class="vol">xxxxx.xx</span></p>
            <p>$<span class="amt">xxxxx.xx</span></p>
          </div>
        </div>

        <div id="delta" class="info-box">
          <h1>DAL<span>NYSE</span></h1>
          <div class="data">
            <p>V<span class="vol">xxxxx.xx</span></p>
            <p>$<span class="amt">xxxxx.xx</span></p>
          </div>
        </div>

        <div id="twitter" class="info-box">
          <h1>TWTR<span>NYSE</span></h1>
          <div class="data">
            <p>V<span class="vol">xxxxx.xx</span></p>
            <p>$<span class="amt">xxxxx.xx</span></p>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>

<script>

// Node 1: NASDAQ
var points1 = [
  [450, 100],
  [600, 200]  
];
var points2 = [
  [450, 100],
  [750, 300]
];
var points3 = [
  [450, 100],
  [850, 400]
];
var points4 = [
  [450, 100],
  [750, 500]
];
var points5 = [
  [450, 100],
  [600, 600]
];
var points6 = [
  [450, 100],
  [450, 700]
];
var points7 = [
  [450, 100],
  [300, 600]
];
var points8 = [
  [450, 100],
  [150, 500]
];
var points9 = [
  [450, 100],
  [50, 400]
];
var points10 = [
  [450, 100],
  [150, 300]
];
var points11 = [
  [450, 100],
  [300, 200]
];

// Node 1: NASDAQ
var points2_1 = [
  [600, 200],
  [450, 100]  
];
var points2_2 = [
  [600, 200],
  [750, 300]
];
var points2_3 = [
  [600, 200],
  [850, 400]
];
var points2_4 = [
  [600, 200],
  [750, 500]
];
var points2_5 = [
  [600, 200],
  [600, 600]
];
var points2_6 = [
  [600, 200],
  [450, 700]
];
var points2_7 = [
  [600, 200],
  [300, 600]
];
var points2_8 = [
  [600, 200],
  [150, 500]
];
var points2_9 = [
  [600, 200],
  [50, 400]
];
var points2_10 = [
  [600, 200],
  [150, 300]
];
var points2_11 = [
  [600, 200],
  [300, 200]
];

// Node 3: CMCSA
var points3_1 = [
  [750, 300],
  [450, 100]  
];
var points3_2 = [
  [750, 300],
  [600, 200]
];
var points3_3 = [
  [750, 300],
  [850, 400]
];
var points3_4 = [
  [750, 300],
  [750, 500]
];
var points3_5 = [
  [750, 300],
  [600, 600]
];
var points3_6 = [
  [750, 300],
  [450, 700]
];
var points3_7 = [
  [750, 300],
  [300, 600]
];
var points3_8 = [
  [750, 300],
  [150, 500]
];
var points3_9 = [
  [750, 300],
  [50, 400]
];
var points3_10 = [
  [750, 300],
  [150, 300]
];
var points3_11 = [
  [750, 300],
  [300, 200]
];

// Node 4: FB
var points4_1 = [
  [850, 400],
  [450, 100]  
];
var points4_2 = [
  [850, 400],
  [600, 200]
];
var points4_3 = [
  [850, 400],
  [750, 300]
];
var points4_4 = [
  [850, 400],
  [750, 500]
];
var points4_5 = [
  [850, 400],
  [600, 600]
];
var points4_6 = [
  [850, 400],
  [450, 700]
];
var points4_7 = [
  [850, 400],
  [300, 600]
];
var points4_8 = [
  [850, 400],
  [150, 500]
];
var points4_9 = [
  [850, 400],
  [50, 400]
];
var points4_10 = [
  [850, 400],
  [150, 300]
];
var points4_11 = [
  [850, 400],
  [300, 200]
];

// Node 5: NFLX
var points5_1 = [
  [750, 500],
  [450, 100]  
];
var points5_2 = [
  [750, 500],
  [600, 200]
];
var points5_3 = [
  [750, 500],
  [750, 300]
];
var points5_4 = [
  [750, 500],
  [850, 400]
];
var points5_5 = [
  [750, 500],
  [600, 600]
];
var points5_6 = [
  [750, 500],
  [450, 700]
];
var points5_7 = [
  [750, 500],
  [300, 600]
];
var points5_8 = [
  [750, 500],
  [150, 500]
];
var points5_9 = [
  [750, 500],
  [50, 400]
];
var points5_10 = [
  [750, 500],
  [150, 300]
];
var points5_11 = [
  [750, 500],
  [300, 200]
];

// Node 6: TSLA
var points6_1 = [
  [600, 600],
  [450, 100]  
];
var points6_2 = [
  [600, 600],
  [600, 200]
];
var points6_3 = [
  [600, 600],
  [750, 300]
];
var points6_4 = [
  [600, 600],
  [850, 400]
];
var points6_5 = [
  [600, 600],
  [750, 500]
];
var points6_6 = [
  [600, 600],
  [450, 700]
];
var points6_7 = [
  [600, 600],
  [300, 600]
];
var points6_8 = [
  [600, 600],
  [150, 500]
];
var points6_9 = [
  [600, 600],
  [50, 400]
];
var points6_10 = [
  [600, 600],
  [150, 300]
];
var points6_11 = [
  [600, 600],
  [300, 200]
];

// Node 7: NYSE
var points7_1 = [
  [450, 700],
  [450, 100]  
];
var points7_2 = [
  [450, 700],
  [600, 200]
];
var points7_3 = [
  [450, 700],
  [750, 300]
];
var points7_4 = [
  [450, 700],
  [850, 400]
];
var points7_5 = [
  [450, 700],
  [750, 500]
];
var points7_6 = [
  [450, 700],
  [600, 600]
];
var points7_7 = [
  [450, 700],
  [300, 600]
];
var points7_8 = [
  [450, 700],
  [150, 500]
];
var points7_9 = [
  [450, 700],
  [50, 400]
];
var points7_10 = [
  [450, 700],
  [150, 300]
];
var points7_11 = [
  [450, 700],
  [300, 200]
];

// Node 8: BABA
var points8_1 = [
  [300, 600],
  [450, 100]  
];
var points8_2 = [
  [300, 600],
  [600, 200]
];
var points8_3 = [
  [300, 600],
  [750, 300]
];
var points8_4 = [
  [300, 600],
  [850, 400]
];
var points8_5 = [
  [300, 600],
  [750, 500]
];
var points8_6 = [
  [300, 600],
  [600, 600]
];
var points8_7 = [
  [300, 600],
  [450, 700]
];
var points8_8 = [
  [300, 600],
  [150, 500]
];
var points8_9 = [
  [300, 600],
  [50, 400]
];
var points8_10 = [
  [300, 600],
  [150, 300]
];
var points8_11 = [
  [300, 600],
  [300, 200]
];

// Node 9:  BAC
var points9_1 = [
  [150, 500],
  [450, 100]  
];
var points9_2 = [
  [150, 500],
  [600, 200]
];
var points9_3 = [
  [150, 500],
  [750, 300]
];
var points9_4 = [
  [150, 500],
  [850, 400]
];
var points9_5 = [
  [150, 500],
  [750, 500]
];
var points9_6 = [
  [150, 500],
  [600, 600]
];
var points9_7 = [
  [150, 500],
  [450, 700]
];
var points9_8 = [
  [150, 500],
  [300, 600]
];
var points9_9 = [
  [150, 500],
  [50, 400]
];
var points9_10 = [
  [150, 500],
  [150, 300]
];
var points9_11 = [
  [150, 500],
  [300, 200]
];

// Node 10:  KO
var points10_1 = [
  [50, 400],
  [450, 100]  
];
var points10_2 = [
  [50, 400],
  [600, 200]
];
var points10_3 = [
  [50, 400],
  [750, 300]
];
var points10_4 = [
  [50, 400],
  [850, 400]
];
var points10_5 = [
  [50, 400],
  [750, 500]
];
var points10_6 = [
  [50, 400],
  [600, 600]
];
var points10_7 = [
  [50, 400],
  [450, 700]
];
var points10_8 = [
  [50, 400],
  [300, 600]
];
var points10_9 = [
  [50, 400],
  [150, 500]
];
var points10_10 = [
  [50, 400],
  [150, 300]
];
var points10_11 = [
  [50, 400],
  [300, 200]
];

// Node 11:  DAL
var points11_1 = [
  [150, 300],
  [450, 100]  
];
var points11_2 = [
  [150, 300],
  [600, 200]
];
var points11_3 = [
  [150, 300],
  [750, 300]
];
var points11_4 = [
  [150, 300],
  [850, 400]
];
var points11_5 = [
  [150, 300],
  [750, 500]
];
var points11_6 = [
  [150, 300],
  [600, 600]
];
var points11_7 = [
  [150, 300],
  [450, 700]
];
var points11_8 = [
  [150, 300],
  [300, 600]
];
var points11_9 = [
  [150, 300],
  [150, 500]
];
var points11_10 = [
  [150, 300],
  [50, 400]
];
var points11_11 = [
  [150, 300],
  [300, 200]
];

// Node 12:  TWTR
var points12_1 = [
  [300, 200],
  [450, 100]  
];
var points12_2 = [
  [300, 200],
  [600, 200]
];
var points12_3 = [
  [300, 200],
  [750, 300]
];
var points12_4 = [
  [300, 200],
  [850, 400]
];
var points12_5 = [
  [300, 200],
  [750, 500]
];
var points12_6 = [
  [300, 200],
  [600, 600]
];
var points12_7 = [
  [300, 200],
  [450, 700]
];
var points12_8 = [
  [300, 200],
  [300, 600]
];
var points12_9 = [
  [300, 200],
  [150, 500]
];
var points12_10 = [
  [300, 200],
  [50, 400]
];
var points12_11 = [
  [300, 200],
  [150, 300]
];


var svg = d3.select("#index").append("svg")
    .attr("width", 900)
    .attr("height", 1000);


// Sending node 1: NASDAQ 
world(points1, 1000, 1);
world(points2, 1000, 1);
world(points3, 1000, 1);
world(points4, 1000, 1);
world(points5, 1000, 1);
world(points6, 1000, 1);
world(points7, 1000, 1);
world(points8, 1000, 1);
world(points9, 1000, 1);
world(points10, 1000, 1);
world(points11, 1000, 1);

// Sending node 2: AAPL 
world(points2_1, 1500, 2);
world(points2_2, 1500, 2);
world(points2_3, 1500, 2);
world(points2_4, 1500, 2);
world(points2_5, 1500, 2);
world(points2_6, 1500, 2);
world(points2_7, 1500, 2);
world(points2_8, 1500, 2);
world(points2_9, 1500, 2);
world(points2_10, 1500, 2);
world(points2_11, 1500, 2);

// // Sending node 3:  CMCSA
world(points3_1, 2000, 3);
world(points3_2, 2000, 3);
world(points3_3, 2000, 3);
world(points3_4, 2000, 3);
world(points3_5, 2000, 3);
world(points3_6, 2000, 3);
world(points3_7, 2000, 3);
world(points3_8, 2000, 3);
world(points3_9, 2000, 3);
world(points3_10, 2000, 3);
world(points3_11, 2000, 3);

// Sending node 4: FB
world(points4_1, 2500, 4);
world(points4_2, 2500, 4);
world(points4_3, 2500, 4);
world(points4_4, 2500, 4);
world(points4_5, 2500, 4);
world(points4_6, 2500, 4);
world(points4_7, 2500, 4);
world(points4_8, 2500, 4);
world(points4_9, 2500, 4);
world(points4_10, 2500, 4);
world(points4_11, 2500, 4);

// Sending node 5:  NFLX
world(points5_1, 3000, 5);
world(points5_2, 3000, 5);
world(points5_3, 3000, 5);
world(points5_4, 3000, 5);
world(points5_5, 3000, 5);
world(points5_6, 3000, 5);
world(points5_7, 3000, 5);
world(points5_8, 3000, 5);
world(points5_9, 3000, 5);
world(points5_10, 3000, 5);
world(points5_11, 3000, 5);

// Sending node 6:  TSLA
world(points6_1, 3500, 6);
world(points6_2, 3500, 6);
world(points6_3, 3500, 6);
world(points6_4, 3500, 6);
world(points6_5, 3500, 6);
world(points6_6, 3500, 6);
world(points6_7, 3500, 6);
world(points6_8, 3500, 6);
world(points6_9, 3500, 6);
world(points6_10, 3500, 6);
world(points6_11, 3500, 6);

// Sending node 7:  NYSE
world(points7_1, 4000, 7);
world(points7_2, 4000, 7);
world(points7_3, 4000, 7);
world(points7_4, 4000, 7);
world(points7_5, 4000, 7);
world(points7_6, 4000, 7);
world(points7_7, 4000, 7);
world(points7_8, 4000, 7);
world(points7_9, 4000, 7);
world(points7_10, 4000, 7);
world(points7_11, 4000, 7);

// Sending node 8:  BABA
world(points8_1, 4500, 8);
world(points8_2, 4500, 8);
world(points8_3, 4500, 8);
world(points8_4, 4500, 8);
world(points8_5, 4500, 8);
world(points8_6, 4500, 8);
world(points8_7, 4500, 8);
world(points8_8, 4500, 8);
world(points8_9, 4500, 8);
world(points8_10, 4500, 8);
world(points8_11, 4500, 8);

// Sending node 9:  BAC
world(points9_1, 5000, 9);
world(points9_2, 5000, 9);
world(points9_3, 5000, 9);
world(points9_4, 5000, 9);
world(points9_5, 5000, 9);
world(points9_6, 5000, 9);
world(points9_7, 5000, 9);
world(points9_8, 5000, 9);
world(points9_9, 5000, 9);
world(points9_10, 5000, 9);
world(points9_11, 5000, 9);

// Sending node 10:  KO
world(points10_1, 5500, 10);
world(points10_2, 5500, 10);
world(points10_3, 5500, 10);
world(points10_4, 5500, 10);
world(points10_5, 5500, 10);
world(points10_6, 5500, 10);
world(points10_7, 5500, 10);
world(points10_8, 5500, 10);
world(points10_9, 5500, 10);
world(points10_10, 5500, 10);
world(points10_11, 5500, 10);

// Sending node 11:  DAL
world(points11_1, 6000, 11);
world(points11_2, 6000, 11);
world(points11_3, 6000, 11);
world(points11_4, 6000, 11);
world(points11_5, 6000, 11);
world(points11_6, 6000, 11);
world(points11_7, 6000, 11);
world(points11_8, 6000, 11);
world(points11_9, 6000, 11);
world(points11_10, 6000, 11);
world(points11_11, 6000, 11);

// Sending node 12:  TWTR
world(points12_1, 6500, 12);
world(points12_2, 6500, 12);
world(points12_3, 6500, 12);
world(points12_4, 6500, 12);
world(points12_5, 6500, 12);
world(points12_6, 6500, 12);
world(points12_7, 6500, 12);
world(points12_8, 6500, 12);
world(points12_9, 6500, 12);
world(points12_10, 6500, 12);
world(points12_11, 6500, 12);

// ...


// POINTS1///////////////////////////////////////
function world(points, timer, nodenum) {

	var path = svg.append("path")
	    .data([points])
	    .attr("d", d3.svg.line()
	    .tension(0) // Catmull–Rom
	    .interpolate("cardinal-open"));

  var circle_class;
  if (nodenum == 1) {
    circle_class = 'nasdaq';
  } else if (nodenum == 2) {
    circle_class = 'aapl';
  } else if (nodenum == 3) {
    circle_class = 'cmcsa';
  } else if (nodenum == 4) {
    circle_class = 'fb';
  } else if (nodenum == 5) {
    circle_class = 'nflx';
  } else if (nodenum == 6) {
    circle_class = 'tsla';
  } else if (nodenum == 7) {
    circle_class = 'nyse';
  } else if (nodenum == 8) {
    circle_class = 'baba';
  } else if (nodenum == 9) {
    circle_class = 'bac';
  } else if (nodenum == 10) {
    circle_class = 'ko';
  } else if (nodenum == 11) {
    circle_class = 'dal';
  } else if (nodenum == 12) {
    circle_class = 'twtr';
  }



	svg.selectAll(".point")
	    .data(points)
	  .enter().append("circle")
	    .attr("r", 2)
	    .attr("transform", function(d) { return "translate(" + d + ")"; });
   

	var circle = svg.append("circle")
	    .attr("r", 6)
      .attr("class", circle_class)
	    .attr("transform", "translate(" + points[0] + ")");

	transition();

	function transition() {
		setTimeout(function(){
		  circle.attr("opacity", '1');
		  circle.transition()
		      .duration(1000)
		      .ease("linear")
		      .attrTween("transform", translateAlong(path.node()))
		      .attr("opacity", '0')
		      .each("end", transition);
		}, timer);
	}

	// Returns an attrTween for translating along the specified path element.
	function translateAlong(path) {
	  var l = path.getTotalLength();
	  return function(d, i, a) {
	    return function(t) {
	      var p = path.getPointAtLength(t * l);
	      return "translate(" + p.x + "," + p.y + ")";
	    };
	  };
	}
}

</script>