/* line 5, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#index {
  padding-top: 100px;
  text-align: center;
  width: 900px;
  margin: auto;
  position: relative;
}

/* line 13, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#nasdaq {
  top: 100px;
  left: 350px;
}
/* line 17, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#nasdaq h1 {
  background: #922FA5;
}

/* line 22, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#apple {
  top: 215px;
  left: 610px;
}
/* line 26, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#apple h1 {
  background: #999;
}

/* line 31, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#comcast {
  top: 315px;
  left: 760px;
}
/* line 35, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#comcast h1 {
  background: #924A27;
}

/* line 40, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#facebook {
  top: 460px;
  left: 800px;
}
/* line 44, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#facebook h1 {
  background: #6473C4;
}

/* line 49, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#netflix {
  top: 605px;
  left: 760px;
}
/* line 53, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#netflix h1 {
  background: #AA3934;
}

/* line 58, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#tesla {
  top: 710px;
  left: 610px;
}
/* line 62, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#tesla h1 {
  background: #745234;
}

/* line 67, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#nyse {
  top: 815px;
  left: 350px;
}
/* line 71, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#nyse h1 {
  background: #343481;
}

/* line 76, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#alibaba {
  top: 710px;
  left: 120px;
}
/* line 80, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#alibaba h1 {
  background: #A56117;
}

/* line 85, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#boa {
  top: 605px;
  left: -30px;
}
/* line 89, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#boa h1 {
  background: #248041;
}

/* line 94, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#ko {
  top: 460px;
  left: -75px;
}
/* line 97, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#ko h1 {
  background: #617427;
}

/* line 102, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#delta {
  top: 315px;
  left: -30px;
}
/* line 106, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#delta h1 {
  background: #6D2828;
}

/* line 111, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#twitter {
  top: 215px;
  left: 120px;
}
/* line 115, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#twitter h1 {
  background: #4B8DA2;
}

/* line 120, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#us-equity {
  background: rgba(255, 255, 255, 0.1);
  width: 300px;
  text-align: left;
  position: absolute;
  top: 15px;
  left: 10%;
  margin-left: -150px;
}
/* line 129, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#us-equity h1 {
  padding: 5px 8px;
  font-size: 20px;
  display: block;
  font-weight: bold;
  margin: 0;
  background: #888;
}
/* line 138, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#us-equity .data {
  padding-top: 8px;
}
/* line 141, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#us-equity .data p {
  margin: 0;
  font-size: 18px;
  padding: 10px 8px;
}

/* line 149, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box {
  background: rgba(255, 255, 255, 0.1);
  width: 175px;
  position: absolute;
  top: 0;
}
/* line 155, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box h1 {
  padding: 3px 8px;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 0;
  text-align: left;
}
/* line 163, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box h1 span {
  float: right;
  font-size: 16px;
  font-weight: bold;
}
/* line 170, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box .data {
  text-align: left;
}
/* line 173, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box .data p {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  padding: 3px 8px;
  font-weight: normal;
}
/* line 180, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box .data p .vol {
  margin-left: 15px;
  font-weight: 300;
}
/* line 185, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box .data p .amt {
  margin-left: 15px;
  font-weight: 300;
}

/* line 193, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.075);
  stroke-width: 1px;
}

/* line 199, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
circle {
  stroke-width: 3px;
  stroke: #fff;
  fill: transparent;
}

/* line 205, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.nasdaq {
  stroke: #922FA5;
}

/* line 209, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.aapl {
  stroke: #999;
}

/* line 213, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.cmcsa {
  stroke: #924A27;
}

/* line 217, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.fb {
  stroke: #6473C4;
}

/* line 221, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.nflx {
  stroke: #AA3934;
}

/* line 225, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.tsla {
  stroke: #745234;
}

/* line 229, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.nyse {
  stroke: #343481;
}

/* line 233, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.baba {
  stroke: #A56117;
}

/* line 237, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.bac {
  stroke: #248041;
}

/* line 241, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.ko {
  stroke: #617427;
}

/* line 245, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.dal {
  stroke: #6D2828;
}

/* line 249, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.twtr {
  stroke: #4B8DA2;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



html, body {
	margin: 0;
	padding: 0;
	background: #111 !important;
	color: #fff !important;
}

p, span, h1, h2, h3, h4 {
	font-family: 'Helvetica', sans-serif;
	color: #fff;
}

.container {
	margin: auto;
}

@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.container {
		width: 860px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 80%;
	}
}
