/* line 5, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#index {
  padding-top: 100px;
  text-align: center;
}

/* line 12, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#nasdaq h1 {
  background: #91BCCC;
}

/* line 19, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#apple h1 {
  background: #aaa;
}

/* line 26, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#comcast h1 {
  background: #c00;
}

/* line 33, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#facebook h1 {
  background: #00c;
}

/* line 40, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#netflix h1 {
  background: #a00;
}

/* line 47, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#tesla h1 {
  background: #500;
}

/* line 54, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#nyse h1 {
  background: #00a;
}

/* line 61, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#alibaba h1 {
  background: #FFB05B;
}

/* line 68, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#boa h1 {
  background: #99f;
}

/* line 75, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#ko h1 {
  background: #a99;
}

/* line 82, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#delta h1 {
  background: #eaa;
}

/* line 89, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#twitter h1 {
  background: #aaf;
}

/* line 94, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#us-equity {
  background: rgba(255, 255, 255, 0.1);
  height: 150px;
  width: 400px;
  margin: 50px;
}
/* line 100, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#us-equity h1 {
  padding: 5px 8px;
  font-size: 26px;
  display: block;
  margin: 0;
  background: #888;
}
/* line 108, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#us-equity .data {
  padding-top: 8px;
}
/* line 111, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#us-equity .data p {
  margin: 0;
  font-size: 22px;
  padding: 10px 8px;
}

/* line 119, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box {
  background: rgba(255, 255, 255, 0.1);
  height: 120px;
  width: 275px;
  margin: 50px;
}
/* line 125, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box h1 {
  padding: 3px 8px;
  font-size: 20px;
  display: block;
  margin: 0;
}
/* line 131, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box h1 span {
  float: right;
  font-size: 20px;
  font-weight: normal;
}
/* line 138, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box .data {
  padding-top: 5px;
}
/* line 141, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box .data p {
  margin: 0;
  font-size: 20px;
  padding: 8px 8px;
}
/* line 146, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box .data p span {
  margin-left: 15px;
}

/* line 161, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.075);
  stroke-width: 1px;
}

/* line 167, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
circle {
  fill: transparent;
  stroke: #fff;
  stroke-width: 2px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



html, body {
	margin: 0;
	padding: 0;
	background: #111 !important;
	color: #fff !important;
}

p, span, h1, h2, h3, h4 {
	font-family: 'Helvetica', sans-serif;
	color: #fff;
}

.container {
	margin: auto;
}

@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.container {
		width: 860px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 80%;
	}
}
