/* line 5, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#index {
  padding-top: 100px;
  text-align: center;
  width: 900px;
  margin: auto;
  position: relative;
}

/* line 13, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.information {
  padding: 100px 0;
}

/* line 17, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#start {
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  position: absolute;
  z-index: 99999999;
  cursor: pointer;
  top: 25px;
  right: 10%;
}
/* line 26, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#start h1 {
  padding: 12px 35px;
  font-size: 20px;
  display: block;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

/* line 36, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#start:hover {
  background: rgba(255, 255, 255, 0.1);
  outline: 2px solid #444;
}
/* line 40, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#start:hover h1 {
  opacity: .75;
}

/* line 46, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}
/* line 54, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.svg-container .svg-content {
  display: inline-block;
  position: absolute;
  left: 0;
}

/* line 61, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#nasdaq {
  top: 100px;
  left: 350px;
}
/* line 65, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#nasdaq h1 {
  background: #922FA5;
}

/* line 70, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.n-nasdaq {
  background: #922FA5;
  border-radius: 10px;
  left: 443px;
  top: 193px;
  width: 14px;
  height: 14px;
}

/* line 79, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#apple {
  top: 215px;
  left: 610px;
}
/* line 83, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#apple h1 {
  background: #999;
}

/* line 88, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.n-aapl {
  background: #999;
  border-radius: 10px;
  left: 593px;
  top: 293px;
  width: 14px;
  height: 14px;
}

/* line 97, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#comcast {
  top: 315px;
  left: 660px;
}
/* line 101, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#comcast h1 {
  background: #924A27;
}

/* line 106, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.n-cmcsa {
  background: #924A27;
  border-radius: 10px;
  left: 643px;
  top: 393px;
  width: 14px;
  height: 14px;
}

/* line 115, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#facebook {
  top: 460px;
  left: 715px;
}
/* line 119, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#facebook h1 {
  background: #6473C4;
}

/* line 124, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.n-fb {
  background: #6473C4;
  border-radius: 10px;
  left: 693px;
  top: 493px;
  width: 14px;
  height: 14px;
}

/* line 133, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#netflix {
  top: 605px;
  left: 660px;
}
/* line 137, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#netflix h1 {
  background: #AA3934;
}

/* line 142, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.n-nflx {
  background: #AA3934;
  border-radius: 10px;
  left: 643px;
  top: 593px;
  width: 14px;
  height: 14px;
}

/* line 151, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#tesla {
  top: 710px;
  left: 610px;
}
/* line 155, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#tesla h1 {
  background: #745234;
}

/* line 160, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.n-tsla {
  background: #745234;
  border-radius: 10px;
  left: 593px;
  top: 693px;
  width: 14px;
  height: 14px;
}

/* line 169, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#nyse {
  top: 815px;
  left: 350px;
}
/* line 173, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#nyse h1 {
  background: #343481;
}

/* line 178, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.n-nyse {
  background: #343481;
  border-radius: 10px;
  left: 443px;
  top: 793px;
  width: 14px;
  height: 14px;
}

/* line 187, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#alibaba {
  top: 710px;
  left: 120px;
}
/* line 191, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#alibaba h1 {
  background: #A56117;
}

/* line 196, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.n-baba {
  background: #A56117;
  border-radius: 10px;
  left: 293px;
  top: 693px;
  width: 14px;
  height: 14px;
}

/* line 205, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#boa {
  top: 605px;
  left: 70px;
}
/* line 209, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#boa h1 {
  background: #248041;
}

/* line 214, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.n-bac {
  background: #248041;
  border-radius: 10px;
  left: 243px;
  top: 593px;
  width: 14px;
  height: 14px;
}

/* line 223, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#ko {
  top: 460px;
  left: 10px;
}
/* line 226, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#ko h1 {
  background: #617427;
}

/* line 231, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.n-ko {
  background: #617427;
  border-radius: 10px;
  left: 193px;
  top: 493px;
  width: 14px;
  height: 14px;
}

/* line 240, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#delta {
  top: 315px;
  left: 70px;
}
/* line 244, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#delta h1 {
  background: #6D2828;
}

/* line 249, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.n-dal {
  background: #6D2828;
  border-radius: 10px;
  left: 243px;
  top: 393px;
  width: 14px;
  height: 14px;
}

/* line 258, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#twitter {
  top: 215px;
  left: 120px;
}
/* line 262, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#twitter h1 {
  background: #4B8DA2;
}

/* line 267, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.n-twtr {
  background: #4B8DA2;
  border-radius: 10px;
  left: 293px;
  top: 293px;
  width: 14px;
  height: 14px;
}

/* line 276, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#us-equity {
  background: rgba(255, 255, 255, 0.1);
  width: 300px;
  text-align: left;
  position: absolute;
  top: 15px;
  left: 10%;
  margin-left: -150px;
}
/* line 285, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#us-equity h1 {
  padding: 5px 8px;
  font-size: 20px;
  display: block;
  font-weight: bold;
  margin: 0;
  background: #888;
}
/* line 294, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#us-equity .data {
  padding-top: 8px;
}
/* line 297, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#us-equity .data p {
  margin: 0;
  font-size: 18px;
  padding: 10px 8px;
}
/* line 302, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
#us-equity .data p span {
  margin-left: 15px;
}

/* line 309, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box {
  background: rgba(255, 255, 255, 0.1);
  width: 175px;
  position: absolute;
  top: 0;
}
/* line 315, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box h1 {
  padding: 3px 8px;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 0;
  text-align: left;
}
/* line 323, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box h1 span {
  float: right;
  font-size: 16px;
  font-weight: bold;
}
/* line 330, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box .data {
  text-align: left;
}
/* line 333, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box .data p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  padding: 3px 8px;
  font-weight: normal;
}
/* line 340, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box .data p .vol {
  font-size: 14px;
  margin-left: 15px;
  font-weight: 300;
}
/* line 346, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.info-box .data p .amt {
  font-size: 14px;
  margin-left: 15px;
  font-weight: 300;
}

/* line 355, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.06);
  stroke-width: 1px;
}

/* line 361, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
circle {
  stroke-width: 2px;
  fill: #fff;
}

/* line 366, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.node {
  position: absolute;
}

/* line 370, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.nasdaq {
  stroke: #922FA5;
  fill: transparent;
}

/* line 375, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.aapl {
  stroke: #999;
  fill: transparent;
}

/* line 380, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.cmcsa {
  stroke: #924A27;
  fill: transparent;
}

/* line 385, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.fb {
  stroke: #6473C4;
  fill: transparent;
}

/* line 390, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.nflx {
  stroke: #AA3934;
  fill: transparent;
}

/* line 395, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.tsla {
  stroke: #745234;
  fill: transparent;
}

/* line 400, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.nyse {
  stroke: #343481;
  fill: transparent;
}

/* line 405, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.baba {
  stroke: #A56117;
  fill: transparent;
}

/* line 410, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.bac {
  stroke: #248041;
  fill: transparent;
}

/* line 415, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.ko {
  stroke: #617427;
  fill: transparent;
}

/* line 420, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.dal {
  stroke: #6D2828;
  fill: transparent;
}

/* line 425, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
.twtr {
  stroke: #4B8DA2;
  fill: transparent;
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 432, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #index {
    width: 830px;
  }

  /* line 436, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #nasdaq {
    top: 92px;
    left: 325px;
  }
  /* line 440, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #nasdaq h1 {
    background: #922FA5;
  }

  /* line 445, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-nasdaq {
    background: #922FA5;
    border-radius: 10px;
    left: 408px;
    top: 185px;
    width: 14px;
    height: 14px;
  }

  /* line 454, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #apple {
    top: 197px;
    left: 567px;
  }
  /* line 458, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #apple h1 {
    background: #999;
  }

  /* line 463, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-aapl {
    background: #999;
    border-radius: 10px;
    left: 546px;
    top: 277px;
    width: 14px;
    height: 14px;
  }

  /* line 472, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #comcast {
    top: 313px;
    left: 613px;
  }
  /* line 476, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #comcast h1 {
    background: #924A27;
  }

  /* line 481, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-cmcsa {
    background: #924A27;
    border-radius: 10px;
    left: 593px;
    top: 370px;
    width: 14px;
    height: 14px;
  }

  /* line 490, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #facebook {
    top: 431px;
    left: 659px;
  }
  /* line 494, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #facebook h1 {
    background: #6473C4;
  }

  /* line 499, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-fb {
    background: #6473C4;
    border-radius: 10px;
    left: 638px;
    top: 462px;
    width: 14px;
    height: 14px;
  }

  /* line 508, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #netflix {
    top: 550px;
    left: 613px;
  }
  /* line 512, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #netflix h1 {
    background: #AA3934;
  }

  /* line 517, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-nflx {
    background: #AA3934;
    border-radius: 10px;
    left: 593px;
    top: 555px;
    width: 14px;
    height: 14px;
  }

  /* line 526, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #tesla {
    top: 669px;
    left: 560px;
  }
  /* line 530, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #tesla h1 {
    background: #745234;
  }

  /* line 535, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-tsla {
    background: #745234;
    border-radius: 10px;
    left: 546px;
    top: 647px;
    width: 14px;
    height: 14px;
  }

  /* line 544, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #nyse {
    top: 760px;
    left: 325px;
  }
  /* line 548, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #nyse h1 {
    background: #343481;
  }

  /* line 553, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-nyse {
    background: #343481;
    border-radius: 10px;
    left: 408px;
    top: 738px;
    width: 14px;
    height: 14px;
  }

  /* line 562, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #alibaba {
    top: 671px;
    left: 93px;
  }
  /* line 566, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #alibaba h1 {
    background: #A56117;
  }

  /* line 571, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-baba {
    background: #A56117;
    border-radius: 10px;
    left: 270px;
    top: 647px;
    width: 14px;
    height: 14px;
  }

  /* line 580, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #boa {
    top: 550px;
    left: 37px;
  }
  /* line 584, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #boa h1 {
    background: #248041;
  }

  /* line 589, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-bac {
    background: #248041;
    border-radius: 10px;
    left: 223px;
    top: 554px;
    width: 14px;
    height: 14px;
  }

  /* line 598, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #ko {
    top: 434px;
    left: -8px;
  }
  /* line 601, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #ko h1 {
    background: #617427;
  }

  /* line 606, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-ko {
    background: #617427;
    border-radius: 10px;
    left: 177px;
    top: 462px;
    width: 14px;
    height: 14px;
  }

  /* line 615, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #delta {
    top: 315px;
    left: 40px;
  }
  /* line 619, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #delta h1 {
    background: #6D2828;
  }

  /* line 624, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-dal {
    background: #6D2828;
    border-radius: 10px;
    left: 224px;
    top: 370px;
    width: 14px;
    height: 14px;
  }

  /* line 633, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #twitter {
    top: 193px;
    left: 92px;
  }
  /* line 637, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #twitter h1 {
    background: #4B8DA2;
  }

  /* line 642, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-twtr {
    background: #4B8DA2;
    border-radius: 10px;
    left: 269px;
    top: 278px;
    width: 14px;
    height: 14px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 653, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #index {
    width: 570px;
  }

  /* line 657, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #us-equity {
    background: rgba(255, 255, 255, 0.1);
    width: 200px;
    text-align: left;
    position: absolute;
    top: 15px;
    left: 10%;
    margin-left: -150px;
  }
  /* line 666, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #us-equity h1 {
    padding: 4px 8px;
    font-size: 18px;
    display: block;
    font-weight: bold;
    margin: 0;
    background: #888;
  }
  /* line 675, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #us-equity .data {
    padding-top: 8px;
  }
  /* line 678, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #us-equity .data p {
    margin: 0;
    font-size: 14px;
    padding: 5px 8px;
  }
  /* line 683, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #us-equity .data p span {
    margin-left: 15px;
  }

  /* line 690, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .info-box {
    background: rgba(255, 255, 255, 0.1);
    width: 175px;
    position: absolute;
    top: 0;
  }
  /* line 696, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .info-box h1 {
    padding: 3px 8px;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin: 0;
    text-align: left;
  }
  /* line 704, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .info-box h1 span {
    float: right;
    font-size: 14px;
    font-weight: bold;
  }
  /* line 711, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .info-box .data {
    text-align: left;
  }
  /* line 714, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .info-box .data p {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    padding: 3px 8px;
    font-weight: normal;
  }
  /* line 721, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .info-box .data p .vol {
    font-size: 12px;
    margin-left: 15px;
    font-weight: 300;
  }
  /* line 727, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .info-box .data p .amt {
    font-size: 12px;
    margin-left: 15px;
    font-weight: 300;
  }

  /* line 735, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #nasdaq {
    top: 72px;
    left: 199px;
  }
  /* line 739, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #nasdaq h1 {
    background: #922FA5;
  }

  /* line 744, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-nasdaq {
    background: #922FA5;
    border-radius: 10px;
    left: 278px;
    top: 156px;
    width: 14px;
    height: 14px;
  }

  /* line 753, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #apple {
    top: 138px;
    left: 386px;
  }
  /* line 757, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #apple h1 {
    background: #999;
  }

  /* line 762, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-aapl {
    background: #999;
    border-radius: 10px;
    left: 373px;
    top: 220px;
    width: 14px;
    height: 14px;
  }

  /* line 771, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #comcast {
    top: 226px;
    left: 429px;
  }
  /* line 775, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #comcast h1 {
    background: #924A27;
  }

  /* line 780, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-cmcsa {
    background: #924A27;
    border-radius: 10px;
    left: 405px;
    top: 283px;
    width: 14px;
    height: 14px;
  }

  /* line 789, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #facebook {
    top: 313px;
    left: 462px;
  }
  /* line 793, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #facebook h1 {
    background: #6473C4;
  }

  /* line 798, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-fb {
    background: #6473C4;
    border-radius: 10px;
    left: 437px;
    top: 346px;
    width: 14px;
    height: 14px;
  }

  /* line 807, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #netflix {
    top: 405px;
    left: 428px;
  }
  /* line 811, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #netflix h1 {
    background: #AA3934;
  }

  /* line 816, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-nflx {
    background: #AA3934;
    border-radius: 10px;
    left: 406px;
    top: 411px;
    width: 14px;
    height: 14px;
  }

  /* line 825, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #tesla {
    top: 492px;
    left: 387px;
  }
  /* line 829, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #tesla h1 {
    background: #745234;
  }

  /* line 834, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-tsla {
    background: #745234;
    border-radius: 10px;
    left: 373px;
    top: 473px;
    width: 14px;
    height: 14px;
  }

  /* line 843, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #nyse {
    top: 563px;
    left: 202px;
  }
  /* line 847, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #nyse h1 {
    background: #343481;
  }

  /* line 852, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-nyse {
    background: #343481;
    border-radius: 10px;
    left: 278px;
    top: 536px;
    width: 14px;
    height: 14px;
  }

  /* line 861, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #alibaba {
    top: 493px;
    left: 12px;
  }
  /* line 865, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #alibaba h1 {
    background: #A56117;
  }

  /* line 870, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-baba {
    background: #A56117;
    border-radius: 10px;
    left: 183px;
    top: 473px;
    width: 14px;
    height: 14px;
  }

  /* line 879, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #boa {
    top: 406px;
    left: -31px;
  }
  /* line 883, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #boa h1 {
    background: #248041;
  }

  /* line 888, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-bac {
    background: #248041;
    border-radius: 10px;
    left: 150px;
    top: 411px;
    width: 14px;
    height: 14px;
  }

  /* line 897, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #ko {
    top: 315px;
    left: -65px;
  }
  /* line 900, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #ko h1 {
    background: #617427;
  }

  /* line 905, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-ko {
    background: #617427;
    border-radius: 10px;
    left: 119px;
    top: 346px;
    width: 14px;
    height: 14px;
  }

  /* line 914, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #delta {
    top: 225px;
    left: -31px;
  }
  /* line 918, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #delta h1 {
    background: #6D2828;
  }

  /* line 923, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-dal {
    background: #6D2828;
    border-radius: 10px;
    left: 152px;
    top: 282px;
    width: 14px;
    height: 14px;
  }

  /* line 932, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #twitter {
    top: 134px;
    left: 12px;
  }
  /* line 936, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  #twitter h1 {
    background: #4B8DA2;
  }

  /* line 941, /home/bryan/Documents/stocksgraphic/app/assets/stylesheets/main.css.scss */
  .n-twtr {
    background: #4B8DA2;
    border-radius: 10px;
    left: 183px;
    top: 219px;
    width: 14px;
    height: 14px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



html, body {
	margin: 0;
	padding: 0;
	background: #111 !important;
	color: #fff !important;
}

p, span, h1, h2, h3, h4 {
	font-family: 'Helvetica', sans-serif;
	color: #fff;
}

.container {
	margin: auto;
}

@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.container {
		width: 860px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 80%;
	}
}
