/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body {
	margin: 0;
	padding: 0;
	background: #111 !important;
	color: #fff !important;
}

p, span, h1, h2, h3, h4 {
	font-family: 'Helvetica', sans-serif;
	color: #fff;
}

.container {
	margin: auto;
}

@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.container {
		width: 860px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 80%;
	}
}