// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index {
	padding-top: 100px;
	text-align: center;
	width: 900px;
	margin: auto;
	position: relative;
}

#nasdaq {
	top: 100px;
	left: 350px;

	h1 {
		background: #922FA5;
	}
}

#apple {
	top: 215px;
	left: 610px;

	h1 {
		background: #999;
	}
}

#comcast {
	top: 315px;
	left: 760px;

	h1 {
		background: #924A27;
	}
}

#facebook {
	top: 460px;
	left: 800px;

	h1 {
		background: #6473C4;
	}
}

#netflix {
	top: 605px;
	left: 760px;

	h1 {
		background: #AA3934;
	}
}

#tesla {
	top: 710px;
	left: 610px;

	h1 {
		background: #745234;
	}
}

#nyse {
	top: 815px;
	left: 350px;

	h1 {
		background: #343481;
	}
}

#alibaba {
	top: 710px;
	left: 120px;

	h1 {
		background: #A56117;
	}
}

#boa {
	top: 605px;
	left: -30px;

	h1 {
		background: #248041;
	}
}

#ko {
	top: 460px;
	left: -75px;
	h1 {
		background: #617427;
	}
}

#delta {
	top: 315px;
	left: -30px;

	h1 {
		background: #6D2828;
	}
}

#twitter {
	top: 215px;
	left: 120px;

	h1 {
		background: #4B8DA2;
	}
}

#us-equity {
	background: rgba(255,255,255,.1);
	width: 300px;	
	text-align: left;
	position: absolute;
	top: 15px;
	left: 10%;
	margin-left: -150px;

	h1 {
		padding: 5px 8px;
		font-size: 20px;
		display: block;
		font-weight: bold;
		margin: 0;
		background: #888;
	}

	.data {
		padding-top: 8px;

		p {
			margin: 0;
			font-size: 18px;
			padding: 10px 8px;
		}
	}
}

.info-box {
	background: rgba(255,255,255,.1);
	width: 175px;
	position: absolute;
	top: 0;

	h1 {
		padding: 3px 8px;
		font-size: 16px;
		font-weight: bold;
		display: block;
		margin: 0;
		text-align: left;

		span {
			float: right;
			font-size: 16px;
			font-weight: bold;
		}
	}

	.data {
		text-align: left;

		p {
			margin: 0;
			font-size: 18px;
			line-height: 20px;
			padding: 3px 8px;
			font-weight: normal;

			.vol {
				margin-left: 15px;
				font-weight: 300;
			}

			.amt {
				margin-left: 15px;
				font-weight: 300;
			}	
		}
	}
}

path {
  fill: none;
  stroke: rgba(255,255,255,.075);
  stroke-width: 1px;
}

circle {
	stroke-width: 3px;
	stroke: #fff;
	fill: transparent;
}

.nasdaq {
	stroke: #922FA5;
}

.aapl {
	stroke: #999;
}

.cmcsa {
	stroke: #924A27;
}

.fb {
	stroke: #6473C4;
}

.nflx {
	stroke: #AA3934;
}

.tsla {
	stroke: #745234;
}

.nyse {
	stroke: #343481;
}

.baba {
	stroke: #A56117;
}

.bac {
	stroke: #248041;
}

.ko {
	stroke: #617427;
}

.dal {
	stroke: #6D2828;
}

.twtr {
	stroke: #4B8DA2;
}