// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index {
	padding-top: 100px;
	text-align: center;
	max-width: 900px;
	margin: auto;
	position: relative;
}

.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;

	.svg-content {
		display: inline-block;
		position: absolute;
		left: 0;
	}
}

#nasdaq {
	top: 100px;
	left: 350px;

	h1 {
		background: #922FA5;
	}
}

.n-nasdaq {
	background: #922FA5;
	border-radius: 10px;
	left: 443px;
	top: 193px;
	width: 14px;
	height: 14px;
}

#apple {
	top: 215px;
	left: 610px;

	h1 {
		background: #999;
	}
}

.n-aapl {
	background: #999;
	border-radius: 10px;
	left: 593px;
	top: 293px;
	width: 14px;
	height: 14px;
}

#comcast {
	top: 315px;
	left: 760px;

	h1 {
		background: #924A27;
	}
}

.n-cmcsa {
	background: #924A27;
	border-radius: 10px;
	left: 743px;
	top: 393px;
	width: 14px;
	height: 14px;
}

#facebook {
	top: 460px;
	left: 800px;

	h1 {
		background: #6473C4;
	}
}

.n-fb {
	background: #6473C4;
	border-radius: 10px;
	left: 778px;
	top: 493px;
	width: 14px;
	height: 14px;
}

#netflix {
	top: 605px;
	left: 760px;

	h1 {
		background: #AA3934;
	}
}

.n-nflx {
	background: #AA3934;
	border-radius: 10px;
	left: 743px;
	top: 593px;
	width: 14px;
	height: 14px;
}

#tesla {
	top: 710px;
	left: 610px;

	h1 {
		background: #745234;
	}
}

.n-tsla {
	background: #745234;
	border-radius: 10px;
	left: 593px;
	top: 693px;
	width: 14px;
	height: 14px;
}

#nyse {
	top: 815px;
	left: 350px;

	h1 {
		background: #343481;
	}
}

.n-nyse {
	background: #343481;
	border-radius: 10px;
	left: 443px;
	top: 793px;
	width: 14px;
	height: 14px;
}

#alibaba {
	top: 710px;
	left: 120px;

	h1 {
		background: #A56117;
	}
}

.n-baba {
	background: #A56117;
	border-radius: 10px;
	left: 293px;
	top: 693px;
	width: 14px;
	height: 14px;
}

#boa {
	top: 605px;
	left: -30px;

	h1 {
		background: #248041;
	}
}

.n-bac {
	background: #248041;
	border-radius: 10px;
	left: 143px;
	top: 593px;
	width: 14px;
	height: 14px;
}

#ko {
	top: 460px;
	left: -75px;
	h1 {
		background: #617427;
	}
}

.n-ko {
	background: #617427;
	border-radius: 10px;
	left: 108px;
	top: 493px;
	width: 14px;
	height: 14px;
}

#delta {
	top: 315px;
	left: -30px;

	h1 {
		background: #6D2828;
	}
}

.n-dal {
	background: #6D2828;
	border-radius: 10px;
	left: 143px;
	top: 393px;
	width: 14px;
	height: 14px;
}

#twitter {
	top: 215px;
	left: 120px;

	h1 {
		background: #4B8DA2;
	}
}

.n-twtr {
	background: #4B8DA2;
	border-radius: 10px;
	left: 293px;
	top: 293px;
	width: 14px;
	height: 14px;
}

#us-equity {
	background: rgba(255,255,255,.1);
	width: 300px;	
	text-align: left;
	position: absolute;
	top: 15px;
	left: 10%;
	margin-left: -150px;

	h1 {
		padding: 5px 8px;
		font-size: 20px;
		display: block;
		font-weight: bold;
		margin: 0;
		background: #888;
	}

	.data {
		padding-top: 8px;

		p {
			margin: 0;
			font-size: 18px;
			padding: 10px 8px;

			span {
				margin-left: 15px;
			}
		}
	}
}

.info-box {
	background: rgba(255,255,255,.1);
	width: 175px;
	position: absolute;
	top: 0;

	h1 {
		padding: 3px 8px;
		font-size: 16px;
		font-weight: bold;
		display: block;
		margin: 0;
		text-align: left;

		span {
			float: right;
			font-size: 16px;
			font-weight: bold;
		}
	}

	.data {
		text-align: left;

		p {
			margin: 0;
			font-size: 16px;
			line-height: 20px;
			padding: 3px 8px;
			font-weight: normal;

			.vol {
				font-size: 14px;
				margin-left: 15px;
				font-weight: 300;
			}

			.amt {
				font-size: 14px;
				margin-left: 15px;
				font-weight: 300;
			}	
		}
	}
}

path {
  fill: none;
  stroke: rgba(255,255,255,.06);
  stroke-width: 1px;
}

circle {
	stroke-width: 2px;
	fill: #fff;
}

.node {
	position: absolute;
}

.nasdaq {
	stroke: #922FA5;
	fill: transparent;
}

.aapl {
	stroke: #999;	
	fill: transparent;
}

.cmcsa {
	stroke: #924A27;
	fill: transparent;
}

.fb {
	stroke: #6473C4;
	fill: transparent;
}

.nflx {
	stroke: #AA3934;
	fill: transparent;
}

.tsla {
	stroke: #745234;
	fill: transparent;
}

.nyse {
	stroke: #343481;
	fill: transparent;
}

.baba {
	stroke: #A56117;
	fill: transparent;
}

.bac {
	stroke: #248041;
	fill: transparent;
}

.ko {
	stroke: #617427;
	fill: transparent;
}

.dal {
	stroke: #6D2828;
	fill: transparent;
}

.twtr {
	stroke: #4B8DA2;
	fill: transparent;
}